body {
    background: #DCCEA1;
    background-image: url("/images/square_bg.png");
    color: #244151;
}
@font-face {
    font-family: 'SquaTront';
    src: url('/fonts/squat___-webfont.eot');
    src: url('/fonts/squat___-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/squat___-webfont.woff') format('woff'),
         url('/fonts/squat___-webfont.ttf') format('truetype'),
         url('/fonts/squat___-webfont.svg#squa_trontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
img.logo:hover {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
}
img.logo {
    transition: all 3s ease-in-out;
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out; 
    -o-transition: all 3s ease-in-out; 
    -ms-transition: all 3s ease-in-out; 
}
