@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/Exo2-Light.ttf');
}
@font-face {
    src: url('/fonts/Vollkorn-Bold.ttf');
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 700;
}
:root {
  color-scheme: light dark;
  --blue: 200.8;
  --red: 17;
  --yellow: 45.8;
  --bg: light-dark(hsl(var(--yellow),45.7%,74.7%), hsl(var(--blue),45.7%,16.3%));
  --text: light-dark(hsl(var(--blue),39.4%,12.9%), hsl(var(--yellow),39.4%,87.1%));
  --head: light-dark(hsl(var(--red),46%,19.6%), hsl(var(--red),66%,70.4%));
  --headl: light-dark(hsl(var(--yellow),45.7%,84.7%), hsl(var(--blue),45.7%,6.3%));
  --link: light-dark(hsl(var(--blue),38.5%,28%), hsl(var(--blue),88.5%,74%));
  --visit: light-dark(hsl(315.7,45.5%,39.6%), hsl(315.7,75.5%,79.6%));
}
body {
  background-color: var(--bg);
  background-image: url("/images/square_bg.png");
  color: var(--text);
  font-family: "Exo 2", Calibri, "Trebuchet MS", Helvetica, Arial, sans-serif, 'lucida console';
  font-size: 1.1rem;
  height: 100%;
  line-height: 1.5em;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
  vertical-align: middle;
}
h1,h2,h3,h4,h5,h6 {
  color: var(--head);
  font-family: Vollkorn, Georgia, Times, 'Times New Roman', Serif;
  text-align: center;
  -moz-transition: color 2s;
  -webkit-transition: color 2s;
  -o-transition: color 2s;
  -ms-transition: color 2s;
  -transition: color 2s;
}
h1 {
  letter-spacing: -0.05em;
  word-spacing: -0.04em;
}
h2 {
  letter-spacing: -0.03em;
  word-spacing: -0.02em;
}
h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover {
  color: var(--headl);
}
p.position {
  color: #1c333f;
  font-weight: bold;
  font-style: italic;
}
p + p.position {
  line-height: 1em;
  margin-top: -0.75em;
}
a:link {
  color: var(--link);
  -moz-transition: color 2s;
  -webkit-transition: color 2s;
  -o-transition: color 2s;
  -ms-transition: color 2s;
  -transition: color 2s;
}
a:hover {
  color: #447a98;
  text-decoration: none;
}
a:active {
  color: #c07357;
  text-decoration: none;
}
a:visited {
  color: var(--visit);
  text-decoration: none;
}
img.logo:hover {
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
}
img.logo {
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out; 
  -o-transition: all 1s ease-in-out; 
  -ms-transition: all 1s ease-in-out; 
}
ul li i {
  margin-top: 0.1em;
}
ul li i {
  color: var(--text);
}
