body {
  background-color: white;
  height: 100%;
  font-family: Calibri, Arial, Helvetica, sans-serif, 'lucida console';
  margin: 10%;
  line-height: 1.5em;
  text-align: justify;
  vertical-align: middle;
}
h1,h2,h3,h4,h5,h6 {
  font-family: Times, 'Times New Roman', Serif;
  text-align: center;
}
h1 {
  letter-spacing: -0.05em;
  word-spacing: -0.04em;
}
h2 {
  letter-spacing: -0.03em;
  word-spacing: -0.02em;
}
p.position {
  font-weight: bold;
  font-style: italic;
}
p + p.position {
  line-height: 1em;
  margin-top: -0.75em;
}
span.when {
  float: right;
}

