@import url(https://fonts.googleapis.com/css?family=Merriweather:900|Open+Sans:300);
@media (prefers-color-scheme: light), @media (prefers-color-scheme: no-preference) {
  :root {
    --background-color: #eee;
    --text-color: #003;
    --heading-color: #300;
    --heading-hover-color: #933;
    --link-color: #99f;
    --link-hover-color: #66c;
    --link-active-color: #f99;
    --link-visited-color: #c6c;
    --follow-hover: #663;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #300;
    --text-color: #eee;
    --heading-color: #66b;
    --heading-hover-color: #66f;
    --link-color: #ccf;
    --link-hover-color: #99f;
    --link-active-color: #966;
    --link-visited-color: #939;
    --follow-hover: #bb9;
  }
}
body {
  background-color: var(--background-color);
  background-image: url("/images/square_bg.png");
  color: var(--text-color);
  font-family: "Open Sans", Calibri, "Trebuchet MS", Helvetica, Arial, sans-serif, 'lucida console';
  height: 100%;
  line-height: 1.5em;
  margin: 10%;
  text-align: justify;
  vertical-align: middle;
}
h1,h2,h3,h4,h5,h6 {
  font-family: Merriweather, Georgia, Times, 'Times New Roman', Serif;
  color: var(--heading-color);
  text-align: center;
  -moz-transition: color 2s;
  -webkit-transition: color 2s;
  -o-transition: color 2s;
  -ms-transition: color 2s;
  -transition: color 2s;
}
h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover {
  color: var(--heading-hover-color);
}
p.position {
  color: var(--text-color);
  font-weight: bold;
  font-style: italic;
}
p + p.position {
  line-height: 1em;
  margin-top: -0.75em;
}
span.when {
  float: right;
  padding-right: 20px;
  white-space: nowrap;
}
span.when::after {
  content: " 🗓️";
}
span.company-name {
  text-transform: uppercase;
  font-size: 115%;
  letter-spacing: 0.04em;
}
a.external {
  white-space: nowrap;
}
a.external:before {
  content: "🌎 ";
  font-size: 0.8em;
}
a.mail {
  white-space: nowrap;
}
a.mail:before {
  content: "✉️ ";
}
a:link {
  color: var(--link-color);
  text-decoration: none;
  -moz-transition: color 2s;
  -webkit-transition: color 2s;
  -o-transition: color 2s;
  -ms-transition: color 2s;
  -transition: color 2s;
}
a:hover {
  color: var(--link-hover-color);
  text-decoration: underline overline;
}
a:active {
  color: var(--link-active);
  text-decoration: none;
}
a:visited {
  color: var(--link-visited);
  text-decoration: none;
}
a.phone {
  padding-left: 20px;
  white-space: nowrap;
}
a.phone::before {
  content: "☎️ ";
}
span.address {
  padding-left: 20px;
  white-space: nowrap;
}
span.address::before {
  content: "🏡 ";
}
.follow {
  -moz-transition: color 2s;
  -webkit-transition: color 2s;
  -o-transition: color 2s;
  -ms-transition: color 2s;
  -transition: color 2s;
}
.follow:hover {
  color: var(--follow-hover);
}

