body {
  background: #DCCEA1;
  background-image: url("/images/square_bg.png");
  color: #201;
  font-family: 'Open Sans', Helvetica, Arial, sans;
}
h1,h2,h3,h4,h5,h6 {
  color: #244151;
  font-family: 'Merriweather', Georgia, Times, serif;
  text-shadow: -3px 3px 3px gray;
}
@font-face {
  font-family: 'SquaTront';
  src: url('/fonts/squat___-webfont.eot');
  src: url('/fonts/squat___-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/squat___-webfont.woff') format('woff'),
       url('/fonts/squat___-webfont.ttf') format('truetype'),
       url('/fonts/squat___-webfont.svg#squa_trontregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
