:root {
  --background: #7dacc5;
  --neutral: #f1ebd9;
  --foreground: #49281b;
}
body {
  background-color: #8fb7cd;
  background-image: url("/images/square_bg.png");
}
table {
  background-color: var(--background);
}
td,th {
  border: 1px solid var(--foreground);
  height: 1.25em;
  width: 1.25em;
}
th {
  background-color: var(--background);
}
td {
  background-color: var(--neutral);
}
img {
  position: absolute;
  top: 161px;
  left: 165px;
  opacity: 0.75;
}
.hidden {
  display: none !important;
}
.on {
  background-color: var(--foreground);
}
.off {
  background-color: var(--background);
}
.highlight {
  background-color: var(--foreground);
  color: var(--background);
}
.ch {
  height: 150px;
}
.rh {
  width: 150px;
}
.slidecontainer {
  display: inline-flex;
  padding: 2px;
  vertical-align: middle;
  width: 50%;
}
.slider {
  border: 1px solid var(--neutral);
  opacity: 0.75;
  transition: opacity .2s;
  width: 90%;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  width: 1.5em;
  height: 1.5em;
  background: var(--neutral);
  cursor: ew-resize;
}
.slider::-moz-range-thumb {
  width: 1.5em;
  height: 1.5em;
  background: var(--neutral);
  cursor: ew-resize;
}
